{% extends "base.html" %}
{% block title %}About{% endblock title %}
{% block body %}
<!-- About - The Sweetest Ice Cream Experience -->
<section class="py-3 py-md-5 py-xl-8">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-10 col-lg-8">
          <h3 class="fs-5 mb-2 text-secondary text-uppercase">About Us</h3>
          <h2 class="display-5 mb-4">Crafting Happiness, One Scoop at a Time! Indulge in our rich, creamy, and handcrafted ice creams made with love.</h2>
          <a href="/"><button type="button" class="btn btn-lg btn-primary mb-3 mb-md-4 mb-xl-5">Order Now</button></a>
        </div>
      </div>
    </div>
  
    <div class="container ">
      <div class="row gy-3 gy-md-4 gy-lg-0">
        <div class="col-12 col-lg-6">
          <div class="card bg-light p-3 m-0">
            <div class="row gy-3 gy-md-0 align-items-md-center">
              <div class="col-md-5">
                <img src="https://bootstrapbrain.com/demo/components/abouts/about-4/assets/img/about-img-2.jpg" class="img-fluid rounded-start" alt="Why Choose Us?">
              </div>
              <div class="col-md-7">
                <div class="card-body p-0">
                  <h2 class="card-title h4 mb-3">Why Choose Us?</h2>
                  <p class="card-text lead">We use only the freshest ingredients, real dairy, and natural flavors to create the creamiest, most delightful ice creams you'll ever taste!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="card bg-light p-3 m-0">
            <div class="row gy-3 gy-md-0 align-items-md-center">
              <div class="col-md-5">
                <img src="https://bootstrapbrain.com/demo/components/abouts/about-4/assets/img/about-img-1.jpg" class="img-fluid rounded-start" alt="Our Story">
              </div>
              <div class="col-md-7">
                <div class="card-body p-0">
                  <h2 class="card-title h4 mb-3">Our Story</h2>
                  <p class="card-text lead">From a small family recipe to a beloved ice cream brand, we are passionate about bringing joy through our handcrafted frozen delights.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
{% endblock body %}

